[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"

[packages]
darkskylib = "*"
envparse = "*"
pytz = "*"
google-api-python-client = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"
responder = {git = "https://github.com/kennethreitz/responder"}

[requires]
python_version = "3.6"

[scripts]
server = "python3 api.py"

[pipenv]
allow_prereleases = true
