<h2>{{ weather.currently.temperature|temperaturefilter }} {{ city }}</h2>
<h3>
    {{ weather.hourly.summary }}
    {% if weather.currently.apparentTemperature|int !=  weather.currently.temperature|int %}
    Feels like {{ weather.currently.apparentTemperature|temperaturefilter }}
    {% endif %}
</h3>

<p>
    Humidity {{ (weather.currently.humidity * 100)|int }}%.
    Pressure {{ weather.currently.pressure }}Pa, wind speed {{ weather.currently.windSpeed }}m/s
    {% if weather.currently.windGust > 0 %} with gusts {{weather.currently.windGust}}m/s{% endif %}.
</p>

<div id="forecast">
    <section>
        <h3>Hourly</h3>
        <ol>
        {% for forecast in weather.hourly.data[1:9] %}
            <li>
            {{ forecast.time|timefilter(weather.timezone) }}, {{ forecast.summary }}, {{ forecast.apparentTemperature|temperaturefilter }}
            </li>
        {% endfor %}
        </ol>
    </section>
    <section>
        <h3>Weekly</h3>
        <ol>
        {% for forecast in weather.daily.data %}
            <li>
                <i>{{ forecast.time|datefilter(weather.timezone) }}</i>, {{ forecast.summary }}
                High {{ forecast.apparentTemperatureHigh|temperaturefilter }},
                low {{ forecast.apparentTemperatureLow|temperaturefilter }}
            </li>
        {% endfor %}
        </ol>
    </section>
</div>
